* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.main-box {
    background: url(uncharted.jpg);
    height: 100vh;
    background-size: cover;
}
#check {
    display: none;
}
.but1 i {
    position: absolute;
    color: gainsboro;
    left: 15px;
    line-height: 60px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s linear;
}
.side-menu {
    position: fixed;
    left: -240px;
    height: 100vh;
    width: 240px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}
.side-menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    height: 60px;
}
.side-menu .logo a {
    position: absolute;
    left: 30px;
    color: gainsboro;
    text-decoration: none;
    font-size: 27px;
    font-weight: 700;
}
.side-menu .but2 i {
    color: red;
    position: absolute;
    font-size: 25px;
    line-height: 60px;
    left: 210px;
    /* opacity: 0; */
}
.side-menu .menu {
    position: absolute;
    color: gainsboro;
    width: 100%;
    top: 100px;
}
.side-menu .menu li {
    margin-top: 4px;
    padding: 10px 15px;
}
.side-menu .menu i,a {
    color: gainsboro;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
}
.side-menu .menu i {
    padding-right: 7px;
}

.side-menu .social-media {
    position: absolute;
    left: 25%;
    bottom: 50px;
}
.social-media .social-media i {
    color: red;
    opacity: 0.5;
    padding: 0 10px;
}
.side-menu .menu li:hover {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.but1 i:hover {
    font-size: 35px;
}
.but2 i:hover {
    font-size: 28px;
}
.side-menu .social-media i:hover {
    opacity: 1;
    transform: scale(1.2);
}
#check:checked ~ .side-menu{
    left: 0;
}
#check:checked ~ .but1{
    opacity: 0;
}